* { box-sizing: border-box; }
body {
  display: flex;
  margin: 0;
  font-family: system-ui;
}
.boxes-wrap {
  display: flex;
  width: 100%;
  gap: 2px;
  margin-top: 30px;
}
.box {
  flex-grow: 1;
  height: 80px;
  border: 1px solid black;
}
.amount {
  font-size: 10px;
  line-height: 10px;
  /* height: 10px; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
}
